body {
  background-color: red;
}

h1 {
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-sarif;
}

img {
  width: 100%;
  
}

p, li{
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

.header {
  background-color: green;
  padding-left: 20px;
  border: 1px solid white;
}

.footer {
  background-color: green;
  color: white
}

div {
  border: 1px solid black;
}
